<configuration>
    <springProperty scope="context" name="APP_NAME" source="spring.application.name"/>

    <appender name="KAFKA" class="com.github.danielwegener.logback.kafka.KafkaAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp/>
                <pattern>
                    <pattern>
                        {
                        "level":"%level",
                        "logger":"%logger{36}",
                        "thread":"%thread",
                        "message":"%msg",
                        "traceId":"%X{traceId:-}",
                        "spanId":"%X{spanId:-}",
                        "service":"${APP_NAME:-app}",
                        "stack":"%exception{full}"
                        }
                    </pattern>
                </pattern>
                <mdc/>
            </providers>
        </encoder>
        <topic>app-logs</topic>
        <producerConfig>bootstrap.servers=kafka.dev.svc.cluster.local:9092</producerConfig>
        <keyingStrategy class="com.github.danielwegener.logback.kafka.keying.RoundRobinKeyingStrategy"/>
        <deliveryStrategy class="com.github.danielwegener.logback.kafka.delivery.AsynchronousDeliveryStrategy"/>
    </appender>

    <root level="INFO">
        <appender-ref ref="KAFKA"/>
    </root>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
    </appender>
</configuration>
